<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bvlab.screenrecord">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/string_app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/string_app_name"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Translucent"></activity>
        <activity
            android:name=".GalleryActivity"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity android:name=".SettingActivity" />
        <activity
            android:name=".ScreenShotActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".RecordScreenActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="trimvideo.EditVideoActivity" />

        <service android:name=".FloatingView" />

        <receiver android:name=".StopRecordReceiver" />

        <activity
            android:name=".CheckPermissionActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.AppCompat.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CountDownActivity"
            android:theme="@style/Theme.Transparent"></activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d5acba13879c0484e409e847be01647e7f399fe3" />

    </application>

</manifest>